<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/header.ejs")%>
  <body>
    
    <%- include("../partials/nav.ejs")%>
    <h2>Attractions</h2>
    <div class="attraction content">
      <% if(attractions.length > 0){%> <% attractions.forEach(attraction => { %>
        <div class=" content">
              
              <h3 class="title"><a href="http://www.<%= attraction.webpage %>"><%= attraction.name %></a></h3>
  
              <h3><a class="single" href="/attraction/<%= attraction._id %>">GET THIS</a></h3>
  
              <p class="phone"><%= attraction.phone %></p>
  
              <p class="street"><%= attraction.street %></p>
              <p class="city"><%= attraction.city %>, <span class="state"><%= attraction.state %></span> <span class="zip"><%= attraction.zip %></span></p>
              <p class="description"><%= attraction.description %></p>
              <p class="private"><%= attraction.isPrivate %></p>
              <p class="years"><%= attraction.years %></p>
              <hr>
          
        </div>
        <% }) %> <% }else{ %>
        <p>There is no attraction to show!!</p>
        <% } %>
    </div>
    <a href="#" class="back-to-top">
      <span class="material-icons"><i class="fa-solid fa-arrow-up"></i></span>
  </a>
  <%- include("../partials/footer.ejs")%>
  </body>
</html>