<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/header.ejs")%>
  <body>
    
    <%- include("../partials/nav.ejs")%>
    <h2>College Resources</h2>
    <div class="college content">
        <div class=" content">
              
              <h3 class="title"><a href="http://www.<%= college.webpage %>"><%= college.name %></a></h3>
  
              <h3><a class="single" href="/college/<%= college._id %>">GET THIS</a></h3>
  
              <p class="phone"><%= college.phone %></p>
  
              <p class="street"><%= college.street %></p>
              <p class="city"><%= college.city %>, <span class="state"><%= college.state %></span> <span class="zip"><%= college.zip %></span></p>
              <p class="description"><%= college.description %></p>
              <p class="description"><%= college.years %></p>
              <p class="years"><%= college.costAfterAid %></p>
              <p class="years"><%= college.graduationRate %></p>
              <p class="years"><%= college.acceptanceRate %></p>
              <p class="sports"><%= college.sportingAffiliations %></p>
              <hr>
          
        </div>
    
    </div>
  </body>
</html>