<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/header.ejs")%>
  <body>
    
    <%- include("../partials/nav.ejs")%>
    <h2>Health</h2>
    <div class="health content">
      <% if(health.length > 0){%> <% health.forEach(health => { %>
        <div class=" content">
              
              <h3 class="title"><a href="http://www.<%= health.webpage %>"><%= health.name %></a></h3>
  
              <h3><a class="single" href="/health/<%= health._id %>">GET THIS</a></h3>
  
              <p class="phone"><%= health.phone %></p>
  
              <p class="street"><%= health.street %></p>
              <p class="city"><%= health.city %>, <span class="state"><%= health.state %></span> <span class="zip"><%= health.zip %></span></p>
              <p class="description"><%= health.description %></p>
              <p class="private"><%= health.isPrivate %></p>
              <p class="years"><%= health.years %></p>
              <hr>
          
        </div>
        <% }) %> <% }else{ %>
        <p>There is no health to show!!</p>
        <% } %>
    </div>
    <a href="#" class="back-to-top">
      <span class="material-icons"><i class="fa-solid fa-arrow-up"></i></span>
  </a>
  <%- include("../partials/footer.ejs")%>
  </body>
</html>