<!doctype html>
<html lang="en">
  <%- include("../partials/header.ejs")%>
  <body>
    <%- include("../partials/nav.ejs")%>
    <h2>Show Page for Health</h2>
    <div class="health content">
      <h3 class="title">
        <a href="http://www.<%= health.webpage %>"><%= health.name %></a>
      </h3>

      <p class="phone"><%= health.phone %></p>

      <p class="street"><%= health.street %></p>
      <p class="city">
        <%= health.city %>, <span class="state"><%= health.state %></span>
        <span class="zip"><%= health.zip %></span>
      </p>
      <p class="description"><%= health.description %></p>
      <hr />
      <a class="delete download-btn" data-health="<%= health._id %>">DELETE</a>
    </div>
    <%- include("../partials/footer.ejs")%>
    <script>
      const deleteBtn = document.querySelector(".delete");
      deleteBtn.addEventListener("click", (e) => {
        const endpoint = `/health/${deleteBtn.dataset.health}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => {
            response.json();
          })
          .then((data) => (window.location.href = "/health"))
          .catch((error) => {
            console.log(error);
          });
      });
    </script>
  </body>
</html>