<!doctype html>
<html lang="en">
  <%- include("../partials/header.ejs")%>
  <body>
    <%- include("../partials/nav.ejs")%>
    <h2>Resources for college</h2>
    <div class="college content">
      <h3 class="title">
        <a href="https://www.<%= college.webpage %>"><%= college.name %></a>
      </h3>

      <p class="phone"><%= college.phone %></p>

      <p class="street"><%= college.street %></p>
      <p class="city">
        <%= college.city %>, <span class="state"><%= college.state %></span>
        <span class="zip"><%= college.zip %></span>
      </p>
      <hr />
      <a class="delete download-btn" data-college="<%= college._id %>">DELETE</a>
    </div>
    <%- include("../partials/footer.ejs")%>
    <script>
      const deleteBtn = document.querySelector(".delete");
      deleteBtn.addEventListener("click", (e) => {
        const endpoint = `/college/${deleteBtn.dataset.college}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => {
            response.json();
          })
          .then((data) => (window.location.href = "/college"))
          .catch((error) => {
            console.log(error);
          });
      });
    </script>
  </body>
</html>